<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<tr>Редактирование пользователя <h3 th:text="${user.getFirstName()}"></h3></tr>

<br>
<div>

    <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">

        <label for="name">Name: </label>
        <input type="text" th:field="*{firstName}" id="name">

        <br>

        <label for="lastName">LastName: </label>
        <input type="text" th:field="*{lastName}" id="lastName">

        <br>

        <label for="age">Age: </label>
        <input type="number" th:field="*{age}" id="age">

        <br>

        <label for="email">E-mail: </label>
        <input type="text" th:field="*{email}" id="email">

        <br>

        <label for="password">Password: </label>
        <input type="text" th:field="*{password}" id="password">

        <br>

        <label for="role">Role: </label>
        <select th:field="*{role}" id="role">
            <option th:each="role : ${roles}"
                th:value="${role}"
                th:text="${role}"></option>
        </select>

        <br>
        <hr>

        <input type="submit" value="Update">

    </form>

</div>

</body>

</html>