<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все юзеры</title>
</head>
<body>

<table th:width="500" th:border="2">
    <p><h2>Доступные пользователи</h2></p>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>

    <tr th:each="user :${users}">
        <td th:text="${user.getId()}"/>
        <td><a th:href="@{/users/{id}(id=${user.getId()})}"  th:text="${user.getFirstName()}"></a></td>
<!--        <td th:text="${user.getFirstName()}"/>-->
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getPassword()}"/>
        <td th:text="${user.getRole()}"/>

    </tr>
</table>
<br>
<hr>
<form th:method="GET" th:action="@{/users/new}">
    <input type="submit" value="Create new User">
</form>
</body>
</html>