<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save user</title>
</head>
<body>
<h2>Please fill in the fields below</h2>

<form th:method ="POST" th:action="@{/saveUser}" th:object="${user}">
    <input type="text" th:field="*{firstName}"
           placeholder="Please enter your firstname"/>>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.lastName}"
           placeholder="Please enter your surname"/>
    <br>
    ********************
    <br>
    <input type="number" th:field="${user.age}"
           placeholder="Please enter your age"/>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.email}"
           placeholder="Please enter your email"/>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.password}"
           placeholder="Please enter your password"/>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.role}"
           placeholder="Please enter your role"/>
    <br>
    ********************
    <br>
    <input type="submit" value="Save"/>
</form>
</body>
</html>