<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>Внесите изменения</h1>
<br>

<form th:method ="PATCH" th:action="@{/updateById}" th:object="${user}">


    <input type="hidden" th:field="*{id}"/>

    <input type="text" th:field="${user.firstName}"
           placeholder="${user.firstName}"/>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.lastName}"
           placeholder="${user.lastName}"/>
    <br>
    ********************
    <br>
    <input type="number" th:field="${user.age}"
           placeholder="${user.age}"/>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.email}"
           placeholder="${user.email}"/>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.password}"
           placeholder="${user.password}"/>
    <br>
    ********************
    <br>
    <input type="text" th:field="${user.role}"
           placeholder="${user.role}"/>
    <br>
    ********************
    <br>
    <input type="submit" value="Update"/>
</form>

</body>
</html>